/* General Styles */
body {
    font-family: "Agdasima", serif;
    background-color: #faf1e0;
    margin: 0;
    padding: 0;
}

/* Rounded Navbar Styling */
.rounded-navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 1; /* Make it visible */
    transition: opacity 0.3s ease;
}



.rounded-navbar .nav {
    display: flex;
    gap: 1rem;
}

.rounded-navbar .nav-item {
    list-style: none;
}

.rounded-navbar .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #444;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s;
}

.rounded-navbar .nav-link:hover {
    background-color: #555;
}

.rounded-navbar .nav-link i {
    font-size: 1.2rem;
}

.rounded-navbar .nav .nav-link.active {
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

@media (max-width: 480px) {
    .rounded-navbar {
        padding: 0.2rem 0.4rem; /* Further reduce padding */
        top: 10px; /* Adjust top position */
    }

    .rounded-navbar .nav-link {
        width: 30px; /* Further reduce size of nav items */
        height: 30px;
        font-size: 0.8rem; /* Further reduce font size */
    }

    .hero-section .fixed-navbar .nav-link {
        font-size: 0.65rem; /* Further reduce font size */
        padding: 0.2rem 0.6rem; /* Adjust padding for very small screens */
    }
}

.rounded-navbar .nav-link:hover {
    background-color: #555;
}

/* Contact Page Styling */
#contact {
    margin-top: 3rem; 
    background-color: #faf1e0;
    padding: 3rem 0;
}

#contact .form-control {
    border-radius: 0;
    border: 1px solid #ced4da;
}

#contact .btn-primary {
    margin-top: 1rem;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0.25rem;
    transition: background-color 0.3s, border-color 0.3s;
}

#contact .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.fas.fa-info-circle {
    margin-left: 8px; /* Space between the label and the icon */
    color: #6c757d; /* Light gray color */
    cursor: pointer; /* Change cursor to pointer for better usability */
    font-size: 0.9rem;
}

.fas.fa-info-circle:hover {
    color: #007bff; /* Change color on hover to indicate interactivity */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    z-index: 1000;
}
